# Welcome to Jekyll!
# Site settings
title: Marcos Ramon
author: Marcos Ramon
url: "https://marcosramon.net"
baseurl: ""
heading: Marcos Ramon
content: Textos e publicações sobre estética, cibercultura e tecnologias educacionais.
description: Textos e publicações sobre estética, cibercultura e tecnologias educacionais.
copyright:
  year: © 2026
  msg: Marcos Ramon

# Set title and content for private & broken link tooltop
privatelinks:
  title: Private or Broken Links
  msg: The page you're looking for is either not available or private!

# Theme level preferences
preferences:
  search:
    enabled: true
  wiki_style_link:
    enabled: true
  pagepreview:
    enabled: true
  backlinks:
    enabled: true
  homepage:
    enabled: true

# To enable a homepage, change the value to true and add content to _includes/Homepage.html
# If enable : false, notes feed will be as homepage. 

encoding: utf-8

# Build settings
theme: null
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-tidy
  - jekyll-seo-tag

# Enable Collections
collections:
  notes:
    output: true
    permalink: /note/:title
  posts:
    output: true
    permalink: /post/:title
  news:
    output: true
    permalink: /news/:title
    sort_by: date
    sort_order: reverse

# Markdown settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  math_engine: katex
  smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter: rouge

# Sass settings
sass:
  style: compressed

# Default front matter
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: Post
      permalink: /post/:title
      content-type: post
  - scope:
      path: ""
      type: notes
    values:
      layout: Post
      content-type: notes
  - scope:
      path: "" # um escopo vazio se aplica a todos os arquivos
    values:
      image: /assets/img/gephi2.png
  - scope:
      path: ""
      type: news
    values:
      layout: Post           
      permalink: /news/:title
      content-type: post     

# Exclude from processing
exclude:
  - _notes/000 Inbox
  - _notes/200 Private
  - _notes/300 Templates
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .obsidian/
