<div class="home-intro">
    <div class="jumbo">Olá! 😊 </div>
    <div class="home-sub-text"> <h3>
        <p>Sou professor de Filosofia no IFB, onde pesquiso estética, cibercultura e tecnologias educacionais.</p>
        
        <p>Convido você a explorar meus projetos:</p>
<ul>
    <li><a href="https://marcosramon.github.io/posts">Blog</a>, com crônicas e reflexões.</li>
    <li><a href="https://marcosramon.github.io/notes">Pesquisa</a>, com textos e publicações acadêmicas.</li>
    <li><a href="URL_CORRETA_DO_SEU_CANAL">Vídeos</a> sobre filosofia e educação no YouTube.</li>
    <li><a href="https://marcosramon.github.io/ficcoes">Podcast</a>, onde exploro outras narrativas.</li>
</ul>
        </h3> 
</div> </div>

